<div class="container">
  <form id="form-product" class="box" [formGroup]="formProduct"
        (ngSubmit)="formP()">
    <table>
      <input class="form-control" formControlName="id" type="text" hidden>
      <tr>
        <th colspan="2"><h1 id="title">Create new product</h1></th>
      </tr>
      <tr>
        <th><label for="name" class="form-label">Name:</label></th>
        <td><input class="form-control" id="name" formControlName="name" type="text"></td>
      </tr>
      <tr>
        <th><label for="price" class="form-label">Price:</label></th>
        <td><input class="form-control" id="price" formControlName="price" type="text"></td>
      </tr>
      <tr>
        <th><label for="quantity" class="form-label">Quantity:</label></th>
        <td><input class="form-control" id="quantity" formControlName="quantity" type="text"></td>
      </tr>
      <tr>
        <th><label for="image" class="form-label">Image:</label></th>
        <td><input class="form-control" id="image" formControlName="image" type="text"></td>
      </tr>
      <tr>
        <td colspan="2" id="center">
          <button type="submit" class="btn btn-primary" id="submit">Create</button>
        </td>
      </tr>
    </table>
  </form>
  <br>

  <h1>List Products</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products">
      <td (click)="editProduct(p.id)">{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.quantity}}</td>
      <td><img src="{{p.image}}" alt="" style="width: 100px; height: 100px"></td>
      <td>
        <button (click)="deleteProduct(p.id, p.name)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
